In [105]:
import pandas as pd

In [106]:
 # CHANGEME: point file path to the csv file obtained from Illumina's pooling calculator

input = "~/Documents/code/git_hub/pool_and_barcode/example/illumina_calc_results_example.csv"

In [107]:
 # CHANGEME: point file path to the directory containing experimental data

output = "~/Documents/code/git_hub/pool_and_barcode/example/barcode_csv_example.csv"

In [108]:
pool_calc_df = pd.read_csv(input, header = 24)

pool_calc_df.rename(columns = {"Unnamed: 0": "well"}, inplace = True)

pool_calc_df = pool_calc_df[2:-2]

pool_calc_df

,well,Library Concentration (ng/µl),Library Concentration (nM),Library Volume (µl),"10 mM Tris-HCl, pH 8.5 (µl)",Pooling Volume (µl)
2,A01,NaN,3.800388,3.9,1.0,2.0
3,A02,NaN,2.378362,undiluted,0.0,2.5
4,A03,NaN,5.218853,2.9,2.0,2.0
5,A04,NaN,2.925735,undiluted,0.0,2.0
6,A05,NaN,7.548144,2,2.9,2.0
...,...,...,...,...,...,...
78,H07,NaN,8.868829,2,4.1,2.1
79,H08,NaN,0.598999,undiluted,0.0,10.2
80,H09,NaN,4.699063,3,1.9,2.1
81,H11,NaN,1.233663,undiluted,0.0,4.9
82,H12,NaN,5.166049,2.8,2.1,2.1

In [109]:
barcode_df = "~/Documents/code/git_hub/pool_and_barcode/scwgbs_barcode_v4.csv"

barcode_df = pd.read_csv(barcode_df)

barcode_df

   well      name barcode_1 barcode_2
0   A01   EE5A1S1  ATCACGTT  ATCACGAT
1   A02   EE5A2S1  CGATGTTT  ATCACGAT
2   A03   EE5A3S1  TTAGGCAT  ATCACGAT
3   A04   EE5A4S1  TGACCACT  ATCACGAT
4   A05   EE5A5S1  ACAGTGGT  ATCACGAT
..  ...       ...       ...       ...
91  H08   EE5H8S1  ACTTGATG  ACTTGAAT
92  H09   EE5H9S1  GATCAGCG  ACTTGAAT
93  H10  EE5H10S1  TAGCTTGT  ACTTGAAT
94  H11  EE5H11S1  GGCTACAG  ACTTGAAT
95  H12  EE5H12S1  CTTGTACT  ACTTGAAT

[96 rows x 4 columns]

In [110]:
pool_barcode_df = pd.merge(pool_calc_df, barcode_df, on = "well")

pool_barcode_df

,well,Library Concentration (ng/µl),Library Concentration (nM),Library Volume (µl),"10 mM Tris-HCl, pH 8.5 (µl)",Pooling Volume (µl),name,barcode_1,barcode_2
0,A01,NaN,3.800388,3.9,1.0,2.0,EE5A1S1,ATCACGTT,ATCACGAT
1,A02,NaN,2.378362,undiluted,0.0,2.5,EE5A2S1,CGATGTTT,ATCACGAT
2,A03,NaN,5.218853,2.9,2.0,2.0,EE5A3S1,TTAGGCAT,ATCACGAT
3,A04,NaN,2.925735,undiluted,0.0,2.0,EE5A4S1,TGACCACT,ATCACGAT
4,A05,NaN,7.548144,2,2.9,2.0,EE5A5S1,ACAGTGGT,ATCACGAT
...,...,...,...,...,...,...,...,...,...
76,H07,NaN,8.868829,2,4.1,2.1,EE5H7S1,CAGATCTG,ACTTGAAT
77,H08,NaN,0.598999,undiluted,0.0,10.2,EE5H8S1,ACTTGATG,ACTTGAAT
78,H09,NaN,4.699063,3,1.9,2.1,EE5H9S1,GATCAGCG,ACTTGAAT
79,H11,NaN,1.233663,undiluted,0.0,4.9,EE5H11S1,GGCTACAG,ACTTGAAT
80,H12,NaN,5.166049,2.8,2.1,2.1,EE5H12S1,CTTGTACT,ACTTGAAT

In [111]:
# use pool_barcode_csv as the template to simplify and rearrange for library submission

data = [pool_barcode_df["well"], pool_barcode_df["name"], pool_barcode_df["barcode_1"], pool_barcode_df["barcode_2"]]

headers = ["sample", "barcode_name", "barcode_1", "barcode_2"]

barcode_csv = pd.concat(data, axis=1, keys=headers)

barcode_csv

   sample barcode_name barcode_1 barcode_2
0     A01      EE5A1S1  ATCACGTT  ATCACGAT
1     A02      EE5A2S1  CGATGTTT  ATCACGAT
2     A03      EE5A3S1  TTAGGCAT  ATCACGAT
3     A04      EE5A4S1  TGACCACT  ATCACGAT
4     A05      EE5A5S1  ACAGTGGT  ATCACGAT
..    ...          ...       ...       ...
76    H07      EE5H7S1  CAGATCTG  ACTTGAAT
77    H08      EE5H8S1  ACTTGATG  ACTTGAAT
78    H09      EE5H9S1  GATCAGCG  ACTTGAAT
79    H11     EE5H11S1  GGCTACAG  ACTTGAAT
80    H12     EE5H12S1  CTTGTACT  ACTTGAAT

[81 rows x 4 columns]

In [112]:
barcode_csv.to_csv(output, index=False)