In [1]:
import pandas as pd

In [22]:
 # CHANGEME: point file path to the csv file obtained from Illumina's pooling calculator

pool_calc_df = "~/Documents/code/git_hub/pool_and_barcode/example/illumina_calc_results_example.csv"

In [20]:
barcode_df = "~/Documents/code/git_hub/pool_and_barcode/scwgbs_barcode_v4.csv"

In [23]:
pool_calc_df = pd.read_csv(pool_calc_df, header = 24)

pool_calc_df.rename(columns = {"Unnamed: 0": "well"}, inplace = True)

pool_calc_df = pool_data_df[2:-2]

pool_calc_df

,well,Library Concentration (ng/µl),Library Concentration (nM),Library Volume (µl),"10 mM Tris-HCl, pH 8.5 (µl)",Pooling Volume (µl)
4,A03,NaN,5.218853,2.9,2.0,2.0
5,A04,NaN,2.925735,undiluted,0.0,2.0
6,A05,NaN,7.548144,2,2.9,2.0
7,A07,NaN,7.283125,2.1,2.8,2.0
8,A08,NaN,5.023829,3,1.9,2.0
...,...,...,...,...,...,...
76,H05,NaN,5.456410,2.6,2.3,2.1
77,H06,NaN,4.814847,3,1.9,2.1
78,H07,NaN,8.868829,2,4.1,2.1
79,H08,NaN,0.598999,undiluted,0.0,10.2
80,H09,NaN,4.699063,3,1.9,2.1

In [24]:
barcode_df = pd.read_csv(barcode_df)

barcode_df

   well      name barcode_1 barcode_2
0   A01   EE5A1S1  ATCACGTT  ATCACGAT
1   A02   EE5A2S1  CGATGTTT  ATCACGAT
2   A03   EE5A3S1  TTAGGCAT  ATCACGAT
3   A04   EE5A4S1  TGACCACT  ATCACGAT
4   A05   EE5A5S1  ACAGTGGT  ATCACGAT
..  ...       ...       ...       ...
91  H08   EE5H8S1  ACTTGATG  ACTTGAAT
92  H09   EE5H9S1  GATCAGCG  ACTTGAAT
93  H10  EE5H10S1  TAGCTTGT  ACTTGAAT
94  H11  EE5H11S1  GGCTACAG  ACTTGAAT
95  H12  EE5H12S1  CTTGTACT  ACTTGAAT

[96 rows x 4 columns]

In [27]:
pool_barcode_csv = pd.merge(pool_calc_df, barcode_df, on = "well")

pool_barcode_csv["well_for_submission"] = pool_barcode_df["well"]

pool_barcode_csv

,well,Library Concentration (ng/µl),Library Concentration (nM),Library Volume (µl),"10 mM Tris-HCl, pH 8.5 (µl)",Pooling Volume (µl),name,barcode_1,barcode_2,well_for_submission
0,A03,NaN,5.218853,2.9,2.0,2.0,EE5A3S1,TTAGGCAT,ATCACGAT,A03
1,A04,NaN,2.925735,undiluted,0.0,2.0,EE5A4S1,TGACCACT,ATCACGAT,A04
2,A05,NaN,7.548144,2,2.9,2.0,EE5A5S1,ACAGTGGT,ATCACGAT,A05
3,A07,NaN,7.283125,2.1,2.8,2.0,EE5A7S1,CAGATCTG,ATCACGAT,A07
4,A08,NaN,5.023829,3,1.9,2.0,EE5A8S1,ACTTGATG,ATCACGAT,A08
...,...,...,...,...,...,...,...,...,...,...
72,H05,NaN,5.456410,2.6,2.3,2.1,EE5H5S1,ACAGTGGT,ACTTGAAT,H05
73,H06,NaN,4.814847,3,1.9,2.1,EE5H6S1,GCCAATGT,ACTTGAAT,H06
74,H07,NaN,8.868829,2,4.1,2.1,EE5H7S1,CAGATCTG,ACTTGAAT,H07
75,H08,NaN,0.598999,undiluted,0.0,10.2,EE5H8S1,ACTTGATG,ACTTGAAT,H08
76,H09,NaN,4.699063,3,1.9,2.1,EE5H9S1,GATCAGCG,ACTTGAAT,H09

In [28]:
# use pool_barcode_csv as the template to simplify and rearrange for library submission

data = [pool_barcode_csv["well_for_submission"], pool_barcode_csv["barcode_1"], pool_barcode_csv["barcode_2"]]

headers = ["sample", "barcode_1", "barcode_2"]

barcode_csv = pd.concat(data, axis=1, keys=headers)

barcode_csv

   sample barcode_1 barcode_2
0     A03  TTAGGCAT  ATCACGAT
1     A04  TGACCACT  ATCACGAT
2     A05  ACAGTGGT  ATCACGAT
3     A07  CAGATCTG  ATCACGAT
4     A08  ACTTGATG  ATCACGAT
..    ...       ...       ...
72    H05  ACAGTGGT  ACTTGAAT
73    H06  GCCAATGT  ACTTGAAT
74    H07  CAGATCTG  ACTTGAAT
75    H08  ACTTGATG  ACTTGAAT
76    H09  GATCAGCG  ACTTGAAT

[77 rows x 3 columns]

In [29]:
# CHANGEME: point file path to directory containing experimental data 

pool_barcode_csv.to_csv(r"/Users/David.Sokol/Documents/code/git_hub/pool_and_barcode/example/pooling_and_barcoding_info_example.csv", index = False)

In [30]:
# CHANGEME: point file path to directory containing experimental data

barcode_csv.to_csv(r"/Users/David.Sokol/Documents/code/git_hub/pool_and_barcode/example/barcoding_example.csv", index=False)