In [1]:
import pandas as pd

In [2]:
# CHANGE ME: point pooling_data to the csv file obtained from Illumina's pooling calculator

pooling_data = "~/Documents/code/git_hub/pool_and_barcode/example/illumina_calc_results_example.csv"
pooling_data_df = pd.read_csv(pooling_data, header = 24)

pooling_data_df = pooling_data_df[2:83]

pooling_data_df.rename(columns = {"Unnamed: 0": "well"}, inplace = True)

pooling_data_df

,well,Library Concentration (ng/µl),Library Concentration (nM),Library Volume (µl),"10 mM Tris-HCl, pH 8.5 (µl)",Pooling Volume (µl)
2,A01,NaN,3.800388,3.9,1.0,2.0
3,A02,NaN,2.378362,undiluted,0.0,2.5
4,A03,NaN,5.218853,2.9,2.0,2.0
5,A04,NaN,2.925735,undiluted,0.0,2.0
6,A05,NaN,7.548144,2,2.9,2.0
...,...,...,...,...,...,...
78,H07,NaN,8.868829,2,4.1,2.1
79,H08,NaN,0.598999,undiluted,0.0,10.2
80,H09,NaN,4.699063,3,1.9,2.1
81,H11,NaN,1.233663,undiluted,0.0,4.9
82,H12,NaN,5.166049,2.8,2.1,2.1

In [3]:
barcode_df = pd.read_csv("~/Documents/code/git_hub/pool_and_barcode/scwgbs_barcode_v4.csv")

In [4]:
pool_barcode_df = pd.merge(pooling_data_df, barcode_df, on = "well")
pool_barcode_df["well_for_submission"] = pool_barcode_df["well"]

pool_barcode_df

,well,Library Concentration (ng/µl),Library Concentration (nM),Library Volume (µl),"10 mM Tris-HCl, pH 8.5 (µl)",Pooling Volume (µl),name,barcode_1,barcode_2,well_for_submission
0,A01,NaN,3.800388,3.9,1.0,2.0,EE5A1S1,ATCACGTT,ATCACGAT,A01
1,A02,NaN,2.378362,undiluted,0.0,2.5,EE5A2S1,CGATGTTT,ATCACGAT,A02
2,A03,NaN,5.218853,2.9,2.0,2.0,EE5A3S1,TTAGGCAT,ATCACGAT,A03
3,A04,NaN,2.925735,undiluted,0.0,2.0,EE5A4S1,TGACCACT,ATCACGAT,A04
4,A05,NaN,7.548144,2,2.9,2.0,EE5A5S1,ACAGTGGT,ATCACGAT,A05
...,...,...,...,...,...,...,...,...,...,...
76,H07,NaN,8.868829,2,4.1,2.1,EE5H7S1,CAGATCTG,ACTTGAAT,H07
77,H08,NaN,0.598999,undiluted,0.0,10.2,EE5H8S1,ACTTGATG,ACTTGAAT,H08
78,H09,NaN,4.699063,3,1.9,2.1,EE5H9S1,GATCAGCG,ACTTGAAT,H09
79,H11,NaN,1.233663,undiluted,0.0,4.9,EE5H11S1,GGCTACAG,ACTTGAAT,H11
80,H12,NaN,5.166049,2.8,2.1,2.1,EE5H12S1,CTTGTACT,ACTTGAAT,H12

In [5]:
pool_barcode_df = pd.merge(pooling_data_df, barcode_df, on = "well")
pool_barcode_df["well_for_submission"] = pool_barcode_df["well"]

pool_barcode_df

,well,Library Concentration (ng/µl),Library Concentration (nM),Library Volume (µl),"10 mM Tris-HCl, pH 8.5 (µl)",Pooling Volume (µl),name,barcode_1,barcode_2,well_for_submission
0,A01,NaN,3.800388,3.9,1.0,2.0,EE5A1S1,ATCACGTT,ATCACGAT,A01
1,A02,NaN,2.378362,undiluted,0.0,2.5,EE5A2S1,CGATGTTT,ATCACGAT,A02
2,A03,NaN,5.218853,2.9,2.0,2.0,EE5A3S1,TTAGGCAT,ATCACGAT,A03
3,A04,NaN,2.925735,undiluted,0.0,2.0,EE5A4S1,TGACCACT,ATCACGAT,A04
4,A05,NaN,7.548144,2,2.9,2.0,EE5A5S1,ACAGTGGT,ATCACGAT,A05
...,...,...,...,...,...,...,...,...,...,...
76,H07,NaN,8.868829,2,4.1,2.1,EE5H7S1,CAGATCTG,ACTTGAAT,H07
77,H08,NaN,0.598999,undiluted,0.0,10.2,EE5H8S1,ACTTGATG,ACTTGAAT,H08
78,H09,NaN,4.699063,3,1.9,2.1,EE5H9S1,GATCAGCG,ACTTGAAT,H09
79,H11,NaN,1.233663,undiluted,0.0,4.9,EE5H11S1,GGCTACAG,ACTTGAAT,H11
80,H12,NaN,5.166049,2.8,2.1,2.1,EE5H12S1,CTTGTACT,ACTTGAAT,H12

In [6]:
pool_barcode_df.to_csv(r"/Users/David.Sokol/Documents/code/git_hub/pool_and_barcode/example/pooling_and_barcoding_info_example.csv", index = False)